{% extends 'Sistema/base.html' %}

{% block contenido %}

<div class="contenido">
    <div class="menu">
        <h2>Listado de Alumnos Dados de Baja</h2>
        <div class="opciones">
            <div class="buscar">
                <form method="GET">
                    Buscar un Alumno<br />
                    <input class="form-control" name="buscar" type="search" value="{{ request.GET.buscar }}"
                        placeholder="Buscar...">
                </form>
            </div>
            <div class="curso">
                Filtrar por Curso <select name="ordencurso" class="form-control"
                    onchange="this.form.submit()">

                    {% for curso in cursos %}

                    {% if cursoid ==  curso.pk %}

                    <option selected value="{{ curso.pk }}">{{ curso.nombre }} {{ curso.division }}</option>

                    {% endif %}

                    <option value="{{ curso.pk }}">{{ curso.nombre }} {{ curso.division }}</option>

                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="tabla">
        <table class="table table-hover my-0">
            <tr>
                <th>Apellido y Nombre</th>
                <th>D.N.I</th>
                <th>Curso</th>
                <th>Celular</th>
                <th>Matricula</th>
                <th>Opciones</th>
            </tr>


            {% for a in alumnos %}

            <tr>
                <td>{{ a.apellido }} {{ a.nombre }}</td>
                <td>{{ a.dni }}</td>
                <td>{{ a.curso }}</td>
                <td>{{ a.celular }}</td>
                <td>{{ a.matricula }}</td>
                <td class="table-action">
                    <a href="{% url 'desocultar_alumno' a.pk %}" onclick="return confirm('Esta Seguro?')"
                        class="btn btn-link" title="Deshacer"><i data-feather="refresh-cw"></i></a>
                    <a href="{% url 'eliminar_alumno' a.pk %}" onclick="return confirm('Esta Seguro?')"
                    class="btn btn-link" title="Deshacer"><i data-feather="trash"></i></a>
                </td>
            </tr>

            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}