{% load static %}
<html lang="es ">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Web UI Kit &amp; Dashboard Template based on Bootstrap">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, web ui kit, dashboard template, admin template">
    <link rel="shortcut icon" href="{% static 'Sistema/img/icons/logo-fray.png' %}" />
    <title>Cobranzas</title>
    <!--<script src="{% static 'Sistema/js/funciones.js' %}"></script> -->
    <link rel="stylesheet" href="{% static 'Sistema/css/app.css' %}">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
                    <img style="width:39px; height: 45px;" src="{% static 'Sistema/img/icons/logo-fray.png' %}" />
                    <span class="align-middle"> Cobranzas</span>
                </a>
                <br />
                <ul class="sidebar-nav">
                    </li>
                    <li class="sidebar-header">
                        Paginas
                    </li>
                    <br />
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'listado_cuota' %}">
                            <i class="align-middle" data-feather="dollar-sign"></i> <span
                                class="align-middle">Cobros</span>
                        </a>
                        <br />
                    <li class="sidebar-item">
                        <a href="#ui" data-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="user"></i> <span class="align-middle">Alumnos</span>
                        </a>
                        <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link" href="{% url 'listado_alumnos' %}">Listado
                                    de Alumnos</a>
                            </li>
                            <li class="sidebar-item"><a class="sidebar-link"
                                    href="{% url 'listado_alumnos_oculto' %}">Dados de Baja</a></li>
                        </ul>
                    </li>
                    <br />
                    <li class="sidebar-item">
                        <a href="#admin" data-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="user"></i> <span
                                class="align-middle">Administracion</span>
                        </a>
                        <ul id="admin" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link" href="{% url 'listado_curso' %}">Cursos</a>
                            </li>
                            <li class="sidebar-item"><a class="sidebar-link"
                                    href="{% url 'listado_esquema_cuota' %}">Esquema Cuota</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{% url 'historial' %}">Historial</a>
                            </li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{% url 'informes' %}">Informes</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle d-flex">
                    <i class="hamburger align-self-center"></i>
                </a>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
								<i class="align-middle" data-feather="settings"></i>
							</a>
                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown"> 
                                <span class="text-dark">{{ user.username }}</span>
                            </a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content">
                <div class="container-fluid p-0">
                    <div class="row mb-2 mb-xl-3">
                        <div class="col-auto d-none d-sm-block">
                        </div>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-body">
                                        <div class="card">
                                            <div id="principal" class="principal">
                                                {% block contenido %}

                                                {% endblock %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-left">
                            <p class="mb-0">
                                <a href="#" class="text-muted"><strong>Cobros de Cuotas - Fray momerto
                                        esquiu</strong></a>
                                &copy;
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'Sistema/js/sidebar.js' %}"></script>
    <script type="text/javascript" src="{% static 'Sistema/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'Sistema/js/feather.js' %}"></script>
    <script type="text/javascript" src="{% static 'Sistema/js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'Sistema/js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'Sistema/js/filtrar.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script>
        var $ = jQuery.noConflict();
        $(function () {
            var ctx = document.getElementById('chartjs-dashboard-line').getContext("2d");
            var gradient = ctx.createLinearGradient(0, 0, 0, 225);
            gradient.addColorStop(0, 'rgba(215, 227, 244, 1)');
            gradient.addColorStop(1, 'rgba(215, 227, 244, 0)');
            // Line chart
            new Chart(document.getElementById("chartjs-dashboard-line"), {
                type: 'line',
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: "Sales ($)",
                        fill: true,
                        backgroundColor: gradient,
                        borderColor: window.theme.primary,
                        data: [
                            2115,
                            1562,
                            1584,
                            1892,
                            1587,
                            1923,
                            2566,
                            2448,
                            2805,
                            3438,
                            2917,
                            3327
                        ]
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    tooltips: {
                        intersect: false
                    },
                    hover: {
                        intersect: true
                    },
                    plugins: {
                        filler: {
                            propagate: false
                        }
                    },
                    scales: {
                        xAxes: [{
                            reverse: true,
                            gridLines: {
                                color: "rgba(0,0,0,0.0)"
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                stepSize: 1000
                            },
                            display: true,
                            borderDash: [3, 3],
                            gridLines: {
                                color: "rgba(0,0,0,0.0)"
                            }
                        }]
                    }
                }
            });
        });
    </script>
    <script>
        var $ = jQuery.noConflict();
        $(function () {
            // Pie chart
            new Chart(document.getElementById("chartjs-dashboard-pie"), {
                type: 'pie',
                data: {
                    labels: ["Chrome", "Firefox", "IE"],
                    datasets: [{
                        data: [4306, 3801, 1689],
                        backgroundColor: [
                            window.theme.primary,
                            window.theme.warning,
                            window.theme.danger
                        ],
                        borderWidth: 5
                    }]
                },
                options: {
                    responsive: !window.MSInputMethodContext,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 75
                }
            });
        });
    </script>
    <script>
        var $ = jQuery.noConflict();
        $(function () {
            // Bar chart
            new Chart(document.getElementById("chartjs-dashboard-bar"), {
                type: 'bar',
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: "This year",
                        backgroundColor: window.theme.primary,
                        borderColor: window.theme.primary,
                        hoverBackgroundColor: window.theme.primary,
                        hoverBorderColor: window.theme.primary,
                        data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
                        barPercentage: .75,
                        categoryPercentage: .5
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            gridLines: {
                                display: false
                            },
                            stacked: false,
                            ticks: {
                                stepSize: 20
                            }
                        }],
                        xAxes: [{
                            stacked: false,
                            gridLines: {
                                color: "transparent"
                            }
                        }]
                    }
                }
            });
        });
    </script>
    <script>
        var $ = jQuery.noConflict();
        $(function () {
            $("#world_map").vectorMap({
                map: "world_mill",
                normalizeFunction: "polynomial",
                hoverOpacity: .7,
                hoverColor: false,
                regionStyle: {
                    initial: {
                        fill: "#e3eaef"
                    }
                },
                markerStyle: {
                    initial: {
                        "r": 9,
                        "fill": window.theme.primary,
                        "fill-opacity": .95,
                        "stroke": "#fff",
                        "stroke-width": 7,
                        "stroke-opacity": .4
                    },
                    hover: {
                        "stroke": "#fff",
                        "fill-opacity": 1,
                        "stroke-width": 1.5
                    }
                },
                backgroundColor: "transparent",
                zoomOnScroll: false,
                markers: [{
                    latLng: [31.230391, 121.473701],
                    name: "Shanghai"
                },
                {
                    latLng: [28.704060, 77.102493],
                    name: "Delhi"
                },
                {
                    latLng: [6.524379, 3.379206],
                    name: "Lagos"
                },
                {
                    latLng: [35.689487, 139.691711],
                    name: "Tokyo"
                },
                {
                    latLng: [23.129110, 113.264381],
                    name: "Guangzhou"
                },
                {
                    latLng: [40.7127837, -74.0059413],
                    name: "New York"
                },
                {
                    latLng: [34.052235, -118.243683],
                    name: "Los Angeles"
                },
                {
                    latLng: [41.878113, -87.629799],
                    name: "Chicago"
                },
                {
                    latLng: [51.507351, -0.127758],
                    name: "London"
                },
                {
                    latLng: [40.416775, -3.703790],
                    name: "Madrid"
                }
                ]
            });
            setTimeout(function () {
                $(window).trigger('resize');
            }, 250)
        });
    </script>
    <script>
        var $ = jQuery.noConflict();
        $(function () {
            $('#datetimepicker-dashboard').datetimepicker({
                inline: true,
                sideBySide: false,
                format: 'L'
            });
        });
    </script>
</body>

</html>