{% extends 'Sistema/base.html' %}

{% load static %}

{% block contenido %}
<br />
<br />
<div class="contenido">
    <div class="menu">
        <h3>Historial de Pagos</h3>
        <div class="opciones">
            <div class="buscar">
                <form method="GET">
                    Buscar un Alumno<br />
                    <input class="form-control" name="buscar" type="search" value="{{ request.GET.buscar }}"
                        placeholder="Buscar...">
                </form>
            </div>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    Año lectivo <select class="form-control" name="añolectivo" id="añolectivo" onchange="this.form.submit()">
                        <option selected>----------</option>
                        <option >2020</option>
                        <option >2021</option>
                    </select>
                </form>
            </div>
            <div class="importar">
                <a onclick="mensaje()" href="#" class="btn btn-danger">PDF</a>
            </div>
        </div>
    </div>
    <div class="tabla">
        <table class="table table-hover my-0">
            <thead>
                    <th>Alumno</th>
                    <th>Curso</th>
                    <th>Fecha</th>
                    <th>Cuota</th>
                    <th>Monto</th>
                </tr>
            </thead>
            {% for h in pagos %}
                <tbody>
                    <tr>
                        <td>{{ h.alumno }}</td>
                        <td>{{ h.curso }}</td>
                        <td>{{ h.fechaPago }}</td>
                        <td>{{ h.numeromes }}</td>
                        <td>{{ h.monto }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'Sistema/js/funciones.js' %}"></script>
{% endblock %}