{% extends 'Sistema/base.html' %}

{% block contenido %}

<div class="contenedor_peliculas">
    <h2 class="titulo_contenedor_pelicula">Cartelera semanal</h2>
    <div class="pelicula">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <a href="#">Ver horarios</a>
    </div>
    <div class="pelicula">
        <a href="#">Ver horarios</a>
    </div>
</div>
<br>
<div class="contenedor_peliculas">
        <h2 class="titulo_contenedor_pelicula">PREVENTA / PRÓXIMOS ESTRENOS</h2>
        <div class="pelicula">
            <a href="#">Ver horarios</a>
        </div>
        <div class="pelicula">
            <a href="#">Ver horarios</a>
        </div>
        <div class="pelicula">
            <a href="#">Ver horarios</a>
        </div>
        <div class="pelicula">
            <a href="#">Ver horarios</a>
        </div>
        <div class="pelicula">
            <a href="#">Ver horarios</a>
        </div>
        <div class="pelicula">
            <a href="#">Ver horarios</a>
        </div>
        <div class="pelicula">
            <a href="#">Ver horarios</a>
        </div>
        <div class="pelicula">
            <a href="#">Ver horarios</a>
        </div>
    </div>

{% endblock %}