{% extends 'Sistema/base.html' %}

{% block contenido %}
<h2>Listado de Esquema Cuotas</h2>
<a class="btn btn-secondary btn-sm" href="{% url 'nuevo_esquema' %}" role="button">Nueva Cuota</a></br>
</br>
<div id="tabla">
    <br />
    <table class="table table-hover my-0">
        <tr>
            <th>Año que se registra</th>
            <th>Monto</th>
            <th>Numero Mes</th>
            <th>Opciones</th>
        </tr>


        {% for e in esquemas %}

        <tr>
            <td>{{ e.year }}</td>
            <td>{{ e.monto }}</td>
            <td>{{ e.numeromes }}</td>
            <td>
                <a href="#" onclick="return confirm('Esta Seguro?')" class="btn btn-link"
                    title="Dar de Baja"><i data-feather="trash"></i></a>
            </td>
        </tr>

        {% endfor %}

    </table>
</div>


{% endblock %}