{% extends 'Sistema/base.html' %}

{% block contenido %}

<h2>Listado de Cursos</h2>
</br>
<a class="btn btn-secondary btn-sm" href="{% url 'nuevo_curso' %}" role="button">Nuevo Curso</a>
<div id="tabla">
</br>
    <table class="table table-bordered">
        <tr>
            <th>Nombre y division</th>
            <th colspan="2">Opciones</th>
        </tr>


        {% for c in cursos %}

        <tr>
            <td>{{ c.nombre }} {{ c.division }}</td>
            <td class="table-action"><a href="{% url 'modificar_curso' c.pk %}">Modificar</a></td>
            <td class="table-action"><a href="#" onclick="return confirm('Esta Seguro?')">Eliminar </a></td>
        </tr>

        {% endfor %}

    </table>
</div>

{% endblock %}