{% extends 'Sistema/base.html' %}


{% block contenido %}

<h2>Nuevo Curso</h2>

<form method="POST">
    {% csrf_token %}
    
    <div class="form-row">
        <div class="col-sm-2">
            <label for="nombre">{{ form.nombre.label }}</label>
            {{ form.nombre }}
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">
            <label for="division">{{ form.division.label }}</label>
            {{ form.division }}
        </div>
    </div>
    </br>
    </br>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-danger" href="{% url 'listado_curso' %}" role="button">Cancelar</a>
    

</form>
{{ mensaje }}

{% endblock %}