{% extends 'Sistema/base.html' %}


{% block contenido %}

<h2>Nuevo Alumno</h2>

<form action="" method="POST">
    {% csrf_token %}

    <br />
    <div class="form-row">
        <div class="col-sm-3">
            <label for="nombre">{{ form.nombre.label }}</label>
            {{ form.nombre }}
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <label for="apellido">{{ form.apellido.label }}</label>
            {{ form.apellido }}
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-sm-3">
            <label for="celular">{{ form.celular.label }}</label>
            {{ form.celular }}
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
            <label for="dni">{{ form.dni.label }}</label>
            {{ form.dni }}
        </div>
    </div>
    </br>
    <div class="form-row">
        <div class="col-sm-2">
            <label for="matricula">{{ form.matricula.label }}</label>
            {{ form.matricula }}
        </div>
        <div class="col-sm-3">

        </div>
        <div class="col-sm-3">
            </br>
            <label for="curso">{{ form.curso.label }}</label>
            {{ form.curso }}
        </div>
    </div>
    </br>
    Tipo de beca:<br/>
    <div class="form-row">
        <br/>
        <div class="col-sm-2">
            <label for="beca">{{ form.beca.label }}</label>
            {{ form.beca }}
        </div>
        <div class="col-sm-4">
            <label for="beca">{{ form.mediaBeca.label }}</label>
            {{ form.mediaBeca }}
        </div>
    </div>
    {{ mensaje }}
    </br>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-danger" href="{% url 'listado_alumnos' %}" role="button">Cancelar</a>

</form>
{% endblock %}