{% extends 'Sistema/base.html' %}


{% block contenido %}
</br>
<h2>Nueva Cuota</h2>

<form method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-sm-2">
            <label for="alumno">{{ form.alumno.label }}</label>
            {{ form.alumno }}
        </div>
        </br>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            <label for="monto">{{ form.monto.label }}</label>
            {{ form.monto }}
        </div>
        </br>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
            <label for="numeromes">{{ form.numeromes.label }}</label>
            {{ form.numeromes }}
        </div>
    </div>
    </br>
    </br>
    <a class="btn btn-primary" href="#" role="button" type="submit">Guardar</a>
    <button type="reset" class="btn btn-secondary">Limpiar</button>
    <a class="btn btn-danger" href="{% url 'listado_cuota' %}" role="button">Volver</a>

</form>
{{ mensaje }}

{% endblock %}